@charset "UTF-8";

*{
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Gothic Coding', monospace;}

#headerWrap{width: 100%; height: 80px;}

#headerWrap > div{
	float: left;
}

#logoWrap{width: 20%; height: 100%;}

#logo a{
	cursor: pointer;
	margin: 15px 0px 15px 140px; 
	text-decoration: none;
	font-size: 30px;
    font-weight: bolder;
	color: #afdba3;
    display: inline-block;
    vertical-align: middle;
    	overflow : hidden;
	text-overflow : ellipsis;
	height : 45px; 
	-webkit-line-clamp : 1; 
	-webkit-box-orient: vertical;
}

#menubarWrap{width: 60%; height: 100%; }

#menubarWrap ul{
	list-style: none;
	margin: 25px 0px 25px 200px;
	padding: 0px;
	overflow : hidden;
	text-overflow : ellipsis;
	height : 35px; 
	-webkit-line-clamp : 1; 
	-webkit-box-orient: vertical;
}

#menubarWrap li{
    display: inline-block;
	margin: 0px 30px 0px 0px;
}
#menubarWrap a{
    cursor: pointer;
	display: inline-block;
    font-size: 20px;
	font-weight: bold;
    text-decoration: none;
    color: black;
	white-space : nowrap;
	}
#menubarWrap a:hover{
	color: #448300;
}
#loginWrap{width: 20%; height: 100%;}
#loginWrap ul{
	list-style: none;
	margin: 25px 0px 25px 20px;
	overflow : hidden;
	text-overflow : ellipsis;
	height : 35px; 
	-webkit-line-clamp : 1; 
	-webkit-box-orient: vertical;
}
#loginWrap ul li{
	display: inline-block;
	margin-left: 30px;
}
#loginWrap a{
    cursor: pointer;
	display: inline-block;
    font-size: 15px;
	font-weight: bold;
    text-decoration: none;
    color: #888;
	white-space : nowrap;
}
#loginWrap img{
    cursor: pointer;
	display: inline-block;
	white-space : nowrap;
}

.visible{display: block !important;}