<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<!--  
	나중에 각자 추가
	<typeAliases>
		<typeAlias type="com.kh.spring.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.spring.board.model.vo.Board" alias="board"/>
		<typeAlias type="com.kh.spring.board.model.vo.Reply" alias="reply"/>
		<typeAlias type="com.kh.spring.notice.model.vo.Notice" alias="notice"/>
	</typeAliases>
	주의 : 미리 등록을 해두기 위해서는 반드시 해당 클래스가 진짜 존재하고 있어야 함 
	-->
	
	 <mappers>
	 	<mapper resource="/mapper/auction-mapper.xml" />
	 	<mapper resource="/mapper/blog-mapper.xml" />
	 	<mapper resource="/mapper/board-mapper.xml" />
	 	<mapper resource="/mapper/chat-mapper.xml" />
	 	<mapper resource="/mapper/common-mapper.xml" />
	 	<mapper resource="/mapper/experience-mapper.xml" />
	 	<mapper resource="/mapper/garden-mapper.xml" />
	 	<mapper resource="/mapper/member-mapper.xml" />
	 	<mapper resource="/mapper/notice-mapper.xml" />
	 </mappers>
	 
</configuration>
