<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bolgMapper">
	
	<insert id="insertBlog" parameterType="blog">
		INSERT 
			INTO
    		TB_BLOG
    				(
    				BLOG_NO, 
    				MEM_NO,
    				BLOG_TITLE,
    				BLOG_INTRODUCE,
    				BLOG_IMG,
    				BLOG_INTEREST,
    				PLANT_PREFER
    				)
    		VALUES
    				(
    				SEQ_BLOG.NEXTVAL,
    				#{ memNo },
    				#{ blogTitle },
    				#{ blogIntroduce },
    				#{ blogImg },
    				#{ blogInterest },
    				#{ plantPrefer }
    				)
	</insert>
	
	<update id="updateMemberBlogNo" parameterType="blog">
		UPDATE MEMBER 
			SET 
				BLOG_NO = SEQ_BLOG.CURRVAL
		WHERE 
			MEM_NO = #{ memNo }
	
	</update>
</mapper>