<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="commonMapper">

	<resultMap id="fileResultSet" type="files">
		<result column="FILE_NO" property="fileNo"/>
		<result column="ORIGINAL_NAME" property="originalName"/>
		<result column="UPDATE_NAME" property="updateName"/>
		<result column="FILE_PATH" property="filePath"/>
		<result column="REF_TYPE" property="refType"/>
		<result column="REF_NO" property="refNo"/>
		<result column="FILE_ANNOTATION" property="fileAnnotation"/>
		<result column="UPLOAD_DATE" property="uploadDate"/>
	</resultMap>
	
	<!-- 첨부파일 조회 -->
	<select id="selectFiles" parameterType="hashmap" resultMap="fileResultSet">
		SELECT 
		       FILE_NO,
		       ORIGINAL_NAME,
		       UPDATE_NAME,
		       FILE_PATH,
		       REF_TYPE,
		       REF_NO,
		       FILE_ANNOTATION,
		       UPLOAD_DATE
		  FROM
		       TB_FILES
		 WHERE 
		       REF_TYPE = #{ refType }
		   AND 
		       REF_NO = #{ refNo }
	</select>
	
	<!-- 첨부파일 등록 -->
	<insert id="insertFiles" parameterType="com.kh.finalproject.common.model.vo.Files" >
		INSERT 
		  INTO
		  		TB_FILES
				(
			     FILE_NO,
		         ORIGINAL_NAME,
		         UPDATE_NAME,
		         FILE_PATH,
		         REF_TYPE,
		         REF_NO,
		         FILE_ANNOTATION,
		         UPLOAD_DATE
				)
			VALUES
			 	(
			 	SEQ_FILE_NO.NEXTVAL, 
			 	#{ originalName },
			 	#{ updateName },
			 	#{ filePath },
			 	#{ refType },
			 	<choose>
			 		<when test="refType eq 'plant'">
			 			SEQ_PLANT_NO.CURRVAL,
			 		</when>
			 		<when test="refType eq 'experience'">
			 			SEQ_EXPERIENCE.CURRVAL,
			 		</when>
			 		<otherwise>
			 			#{ refNo },
			 		</otherwise>
			 	</choose>
			 	#{ fileAnnotation },
			 	SYSDATE
			 	)		  	
	
	</insert>
	
</mapper>