<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<resultMap id="memberResultSet" type="member">
		<result column="MEM_NO" property="memNo" />
		<result column="MEM_STATUS" property="memStatus"/>
		<result column="MEM_ID" property="memId"/>
		<result column="MEM_PW" property="memPwd"/>
		<result column="MEM_NICK" property="memNick"/>
		<result column="MEM_IMG" property="memImg"/>
		<result column="MEM_BUSINESS" property="memBusiness"/>
		<result column="BLOG_NO" property="blogNo"/>
	</resultMap>
	<select id="loginMember" parameterType="member" resultMap="memberResultSet">
		SELECT
      MEM_NO,
      MEM_STATUS,
      MEM_ID,
			MEM_PW,
      MEM_NICK,
      MEM_IMG,
      REG_BUSINESS,
      BLOG_NO
		FROM
			MEMBER
		WHERE
			MEM_ID = #{memId}
	</select>
	
	<select id="selectMember" parameterType="_int" resultMap="memberResultSet">
		SELECT
		      MEM_STATUS,
		      MEM_ID,
		      MEM_NICK,
		      MEM_IMG,
		      REG_BUSINESS,
		      BLOG_NO
		FROM
			  MEMBER
		WHERE
			  MEM_NO = #{memNo}
	</select>
	
	<insert id="joinMember" parameterType="member">
		INSERT
		  INTO
				MEMBER
				(
				MEM_NO,
				MEM_STATUS,
				MEM_ID,
				MEM_PW,
				MEM_NICK,
				EMAIL
				)
		VALUES
				(
				SEQ_MEMBER_NO.NEXTVAL,
				U,
				#{memId},
				#{memPwd},
				#{memNick},
				#{email}
				)
	</insert>

	<!-- 여기는 아이디 중복체크용 쿼리문입니다 -->
	
	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT
				COUNT(*)
		  FROM
		  		MEMBER
		 WHERE
		 		MEM_ID = #{checkId}
	
	</select>

</mapper>