<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<resultMap id="memberResultSet" type="member">
		<result column="MEM_NO" property="memNo" />
		<result column="MEM_STATUS" property="memStatus"/>
		<result column="MEM_ID" property="memId"/>
		<result column="MEM_PW" property="memPwd"/>
		<result column="MEM_NICK" property="memNick"/>
		<result column="MEM_IMG" property="memImg"/>
		<result column="MEM_BUSINESS" property="memBusiness"/>
		<result column="BLOG_NO" property="blogNo"/>
		<result column="EMAIL" property="email"/>
		<result column="MEM_TEMP" property="memTemp"/>
		<result column="LAST_LOGIN" property="lastLogin"/>
	</resultMap>
	<select id="loginMember" parameterType="member" resultMap="memberResultSet">
		SELECT
      MEM_NO,
			MEM_TEMP,
      MEM_STATUS,
      MEM_ID,
			MEM_PW,
			EMAIL,
      MEM_NICK,
      MEM_IMG,
      REG_BUSINESS,
      BLOG_NO,
			TO_CHAR(LAST_LOGIN, 'YYYY/MM/DD HH24:MI:SS') LAST_LOGIN
		FROM
			MEMBER
		WHERE
			MEM_ID = #{memId}
	</select>

	<select id="selectMember" parameterType="_int" resultMap="memberResultSet">
		SELECT
			MEM_NO,
			MEM_STATUS,
			MEM_TEMP,
			MEM_ID,
			MEM_NICK,
			EMAIL,
			MEM_IMG,
			REG_BUSINESS,
			BLOG_NO,
			TO_CHAR(LAST_LOGIN, 'YYYY/MM/DD HH24:MI:SS') LAST_LOGIN
		FROM
			MEMBER
		WHERE
			MEM_NO = #{memNo}
	</select>
	<select id="ajaxGetMemberList" resultMap="memberResultSet">
		SELECT
			MEM_NO,
			MEM_STATUS,
			MEM_TEMP,
			MEM_ID,
			EMAIL,
			MEM_NICK,
			MEM_IMG,
			REG_BUSINESS,
			BLOG_NO,
			TO_CHAR(LAST_LOGIN, 'YYYY/MM/DD HH24:MI:SS') LAST_LOGIN
		FROM
			MEMBER
	</select>

	<insert id="joinMember" parameterType="member">
		INSERT
			INTO
				MEMBER
				(
				MEM_NO,
				MEM_STATUS,
				MEM_ID,
				MEM_PW,
				MEM_NICK,
				EMAIL
				)
		VALUES
				(
				SEQ_MEMBER_NO.NEXTVAL,
				'U',
				#{memId},
				#{memPwd},
				#{memNick},
				#{email}
				)
	</insert>


	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT 
				COUNT(*)
		  FROM
		  		MEMBER
		 WHERE
		 		MEM_ID = #{checkId}
	
	</select>

	<update id="setLastLogin" parameterType="member">
		UPDATE
			MEMBER
		SET 
			LAST_LOGIN = SYSDATE
		WHERE 
			MEM_NO = #{memNo}
	</update>
	<update id="editMember" parameterType="member">
		UPDATE
			MEMBER
		SET 
			MEM_STATUS = #{memStatus},
			MEM_ID = #{memId},
			MEM_NICK = #{memNick},
			EMAIL = #{email},
			MEM_TEMP = #{memTemp}
		WHERE 
			MEM_NO = #{memNo}
	</update>
	<select id="selectNaverProfile" parameterType="string" resultMap="memberResultSet">
		SELECT
			MEM_NO,
			MEM_STATUS,
			MEM_TEMP,
			MEM_ID,
			EMAIL,
			MEM_NICK,
			MEM_IMG,
			REG_BUSINESS,
			BLOG_NO,
			TO_CHAR(LAST_LOGIN, 'YYYY/MM/DD HH24:MI:SS') LAST_LOGIN
		FROM 
			MEMBER
		WHERE 
			MEM_ID = #{memId}
	</select>
	<insert id="addNaverProfile" parameterType="naver">
		INSERT
			INTO
				MEMBER
				(
				MEM_NO,
				MEM_STATUS,
				MEM_ID,
				MEM_NICK,
				EMAIL,
				MEM_IMG
				)
		VALUES
				(
				SEQ_MEMBER_NO.NEXTVAL,
				'U',
				#{id},
				#{nickname},
				#{email},
				#{profile_image}
				)
	</insert>
</mapper>