<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="noticeMapper">
	
	<resultMap id="noticeResultSet" type="notice">
		<result column="NOTICE_NO" property="noticeNo" />
		<result column="NOTICE_TITLE" property="noticeTitle" />
		<result column="NOTICE_CONTENT" property="noticeContent" />
		<result column="VIEWS" property="views" />
		<result column="NOTICE_CREATE_DATE" property="noticeCreateDate" />
		<result column="CATEGORY" property="category" />
		<result column="LIKE_COUNT" property="likeCount" />
		<result column="MEM_NICK" property="memNo" />
	</resultMap>	
	
	<select id="selectNoticeCount" resultType="_int">
		SELECT
		      COUNT(*)
		  FROM
		      TB_NOTICE
		 WHERE
		      STATUS = 'Y' 
	</select>
	
	<select id="selectNoticeList" resultMap="noticeResultSet">
SELECT
	  NOTICE_NO,
	  NOTICE_TITLE,
	  NOTICE_CONTENT,
	  VIEWS,
	  TO_CHAR(NOTICE_CREATE_DATE, 'YYYY-MM-DD HH:MI:SS') AS NOTICE_CREATE_DATE,
	  'Best ' || CATEGORY AS "CATEGORY",
	  LIKE_COUNT,
	  MEM_NICK  
  FROM (
        SELECT
			  NOTICE_NO,
			  NOTICE_TITLE,
			  NOTICE_CONTENT,
			  VIEWS,
			  NOTICE_CREATE_DATE,
			  CATEGORY,
			  LIKE_COUNT,
			  MEM_NICK,
			  ROW_NUMBER() OVER (PARTITION BY CATEGORY ORDER BY NULL) AS row_num
 		  FROM
    		  TB_NOTICE
    	 INNER 
    	  JOIN 
    	      TB_MEMBER ON (TB_NOTICE.MEM_NO = TB_MEMBER.MEM_NO)
         WHERE
    	      STATUS = 'Y'
    		  AND LIKE_COUNT &gt; 50
    		  AND CATEGORY IN (1, 2)
         ORDER 
            BY
              CATEGORY DESC, LIKE_COUNT DESC, NOTICE_NO DESC
       )
 WHERE
      row_num &lt;= 5
  
UNION ALL

SELECT
      NOTICE_NO,
      NOTICE_TITLE,
      NOTICE_CONTENT,
      VIEWS,
      NOTICE_CREATE_DATE,
      CATEGORY,
      LIKE_COUNT,
      MEM_NICK
      FROM(
           SELECT
			     NOTICE_NO,
			     NOTICE_TITLE,
			     NOTICE_CONTENT,
			     VIEWS,
			     TO_CHAR(NOTICE_CREATE_DATE, 'YYYY-MM-DD HH:MI:SS') AS "NOTICE_CREATE_DATE",
			     CATEGORY,
			     LIKE_COUNT,
			     MEM_NICK
	         FROM
    			 TB_NOTICE
			INNER 
			 JOIN
    		     TB_MEMBER ON (TB_NOTICE.MEM_NO = TB_MEMBER.MEM_NO)
		    WHERE
    			 STATUS = 'Y'
	          AND 
	             NOTICE_NO NOT IN (
                				   SELECT
     									 NOTICE_NO
									 FROM (
										   SELECT
											     NOTICE_NO,
											     ROW_NUMBER() OVER (PARTITION BY CATEGORY ORDER BY NOTICE_NO DESC) AS row_num
											 FROM
											     TB_NOTICE
											WHERE
											     STATUS = 'Y'
											  AND 
											     LIKE_COUNT &gt; 50
											  AND 
											     CATEGORY IN (1, 2)
										   )
									 WHERE
										  row_num &lt;= 5       
									)            
		   ORDER 
		      BY
		        CATEGORY DESC
		  )
	</select>
	<select id="selectBestNotice" resultMap="noticeResultSet">
          SELECT 
			    *
			FROM
			  (SELECT
			    NOTICE_NO,
			    NOTICE_TITLE,
			    NOTICE_CONTENT,
			    VIEWS,
			    TO_CHAR(NOTICE_CREATE_DATE, 'YYYY-MM-DD') AS "NOTICE_CREATE_DATE",
			    CATEGORY,
			    LIKE_COUNT,
			    MEM_NICK
			FROM
			    TB_NOTICE
	  INNER JOIN
			    TB_MEMBER ON (TB_NOTICE.MEM_NO = TB_MEMBER.MEM_NO)
		   WHERE
			    STATUS = 'Y'
			 AND 
			    CATEGORY = 2
			 AND
			    LIKE_COUNT &gt; 50
		ORDER BY
			    LIKE_COUNT DESC, NOTICE_NO DESC) b
	       WHERE 
	            ROWNUM BETWEEN 1 AND 5

	   UNION ALL
		  SELECT
		         *
			FROM(
		         SELECT
					    NOTICE_NO,
					    NOTICE_TITLE,
					    NOTICE_CONTENT,
					    VIEWS,
					    TO_CHAR(NOTICE_CREATE_DATE, 'YYYY-MM-DD') AS "NOTICE_CREATE_DATE",
					    CATEGORY,
					    LIKE_COUNT,
					    MEM_NICK
				   FROM
			            TB_NOTICE
		     INNER JOIN
			            TB_MEMBER ON (TB_NOTICE.MEM_NO = TB_MEMBER.MEM_NO)
			      WHERE
			            STATUS = 'Y'
			        AND 
			            LIKE_COUNT &gt; 50
			        AND   
			            CATEGORY = 1
			   ORDER BY
			            LIKE_COUNT DESC, NOTICE_NO DESC
			      ) 
			 WHERE 

				  ROWNUM BETWEEN 1 AND 5
	</select> 
	<insert id="insertNotice" parameterType="notice">
		INSERT
		  INTO
		      TB_NOTICE
		      (
			  NOTICE_NO
			 ,NOTICE_TITLE
			 ,NOTICE_CONTENT
			 ,MEM_NO
			 ,CATEGORY
			 )
	   VALUES		  
	   	     (
	   	     SEQ_NOTICE_NO.NEXTVAL
	   	    ,#{noticeTitle}
	   	    ,#{noticeContent}
	   	    ,#{memNo}
	   	    ,#{category}
	   	     )
	</insert>
	
	<insert id="insertFile" parameterType="attachment">
		INSERT
		  INTO
		      TB_ATTACHMENT
		      (
		      FILE_NO
		     ,REF_NO
		     ,ORIGINAL_NAME
		     ,UPDATE_NAME
		     ,FILE_PATH
		     ,REF_TYPE
		     ,FILE_ANNOTATION
		      )
		VALUES
		      (
		      SEQ_FILE_NO.NEXTVAL
		     ,#{refNo} + 1
		     ,#{originalName}
		     ,#{updateName}
		     ,#{filePath}
		     ,#{refType}
		     ,#{fileAnnotation}
		      )
	</insert>
	
 	<update id="increaseCount" parameterType="_int">
 		UPDATE
 		      TB_NOTICE
 		   SET
 		      VIEWS = VIEWS + 1
 		 WHERE
 		      NOTICE_NO = #{noticeNo}
 		   AND
 		      STATUS = 'Y'
 	</update>
 
 	<select id="selectNotice" parameterType="_int" resultMap="noticeResultSet">
			SELECT
			      NOTICE_NO
			     ,NOTICE_TITLE
			     ,NOTICE_CONTENT
			     ,VIEWS
			     ,TO_CHAR(NOTICE_CREATE_DATE, 'YYYY-MM-DD HH:MI:SS') AS "NOTICE_CREATE_DATE"
			     ,CATEGORY
			     ,LIKE_COUNT
			     ,MEM_NICK
			 FROM
			     TB_NOTICE
			INNER
			 JOIN
			     TB_MEMBER ON(TB_NOTICE.MEM_NO = TB_MEMBER.MEM_NO)
			WHERE
			     STATUS='Y'
			  AND
			     NOTICE_NO = #{noticeNo}
 	</select>
 	
 	<update id="deleteNotice" parameterType="_int">
 		UPDATE
 		      TB_NOTICE
 		   SET
 		      STATUS = 'N'
 		 WHERE
 		      NOTICE_NO = #{noticeNo}
 	</update>
	
	<delete id="deleteFile" parameterType="_int">
		DELETE
		  FROM
		      TB_ATTACHMENT
		 WHERE
		      REF_NO = #{noticeNo}	
		   AND
		      REF_TYPE = 'notice'
	</delete>
	
	
	<update id="updateNotice" parameterType="notice">
		UPDATE
		      TB_NOTICE
		   SET
		      NOTICE_TITLE = #{noticeTitle}
		     ,NOTICE_CONTENT = #{noticeContent}
		 WHERE
		      NOTICE_NO = #{noticeNo}
	</update>

	<select id="selectLastNoticeNo" resultType="_int">
		SELECT 
			  MAX(NOTICE_NO)
		  FROM
		      TB_NOTICE
	</select>
	
	<select id="selectFile" resultType="attachment">
		SELECT
		      FILE_NO fileNo
		     ,ORIGINAL_NAME originalName
		     ,UPDATE_NAME updateName
		     ,FILE_PATH filePath
		     ,REF_TYPE refType
		     ,REF_NO refNo
		     ,FILE_ANNOTATION fileAnnotation
		     ,UPLOAD_DATE uploadDate
		 FROM
		     TB_ATTACHMENT
	    WHERE
	         REF_NO = #{noticeNo}
	      AND
	         REF_TYPE = 'notice'
		      
	</select>

	<update id="updateFiles" parameterType="attachment">
		UPDATE
		      TB_ATTACHMENT
		   SET
		      ORIGINAL_NAME = #{originalName}
		     ,UPDATE_NAME = #{updateName}
		     ,FILE_ANNOTATION = #{fileAnnotation}
		 WHERE
		      FILE_NO = #{fileNo}
	</update>
	
	<select id="selectLike" resultType="noticeLike" parameterType="noticeLike">
		SELECT
		      NOTICE_LIKE_STATUS noticeLikeStatus
		  FROM
		      TB_NOTICE_LIKE
		 WHERE
			  MEM_NO = #{memNo} 
		   AND
		      NOTICE_NO = #{noticeNo}
	</select>
	
	<insert id="insertNoticeLike" parameterType="noticeLike">
		INSERT
		  INTO
		      TB_NOTICE_LIKE
		      (
		      NOTICE_LIKE_NO
		     ,NOTICE_LIKE_STATUS
		     ,NOTICE_NO
		     ,MEM_NO
		      )
		VALUES
			  (
			  SEQ_NOTICE_LIKE_NO.NEXTVAL
			 ,'Y'
			 ,#{noticeNo}
			 ,#{memNo}
			  )
	</insert>
	
	<update id="updateNoticeLike">
		UPDATE
		      TB_NOTICE_LIKE
		   SET
		   	  NOTICE_LIKE_STATUS = 'Y'
		 WHERE
			  MEM_NO = #{memNo} 
		   AND
		      NOTICE_NO = #{noticeNo}
		   AND
		      NOTICE_LIKE_STATUS = 'N'
	</update>
	
	<update id="deleteNoticeLike">
		UPDATE
		      TB_NOTICE_LIKE
		   SET
		   	  NOTICE_LIKE_STATUS = 'N'
		 WHERE
			  MEM_NO = #{memNo} 
		   AND
		      NOTICE_NO = #{noticeNo}
		   AND
		      NOTICE_LIKE_STATUS = 'Y'
	</update>
	
	<update id="plusLikeCount">
		UPDATE
			  TB_NOTICE
		   SET
		      LIKE_COUNT = LIKE_COUNT + 1
		 WHERE
		      NOTICE_NO = #{noticeNo}
	</update>
	
	<update id="minusLikeCount">
		UPDATE
			  TB_NOTICE
		   SET
		      LIKE_COUNT = LIKE_COUNT - 1
		 WHERE
		      NOTICE_NO = #{noticeNo}
	</update>

</mapper>

